h1 {
  text-align: center;
  margin: 50px;
}

#topbar {
  height: 150px;
  width: 80%;
  background-color: grey;
  margin: 0 auto;
  line-height: 150px;
}

#emptydiv {

}

#bottombar{
  height: 150px;
  width: 60%;
  background-color: grey;
  margin: 0 auto;
  position: absolute;
    bottom: 0px;
}
