h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 90px;
}

h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
}

#start {
  width: 400px;
  background-color: pink;
  height: 300px;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  margin: 0 auto;
}

#scoreboard {
  margin-top: 50px;
  margin-bottom: 50px;
}

#topbar {
  height: 100px;
  width: 80%;
  background-color: cornflowerblue;
  margin: 0 auto;
  line-height: 150px;
  border-bottom: 25px;
}
#container {
  height: 800px;
  width: 80%;
  margin: 0 auto;
  background-color: cornflowerblue;
}
.row {
  height: 30%;
  width: 100%;
}

.tiles {
  height: 75%;
  width: 23%;
  margin: 0 auto;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 3.5%;
    background-color: #8AC007;
    padding: 3%;
}
.piece {
  font-family: fantasy;
  text-align: center;
  font-size: 100px;
}
#board {
  height: 80%;
  width: 80%;
  background-color: lightslategrey;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}
